
.page-banner{
	img{
		width:100%;
	}
}
.side-content{
	margin-top:20px;
	width:33%;
	float:right;
}
.page-content{
	width:66%;
	float:left;
}
.warning-sign{
	background: #FFFF66;
	padding: 10px;
	margin: 20px 0;
	h3{
		margin: 10px 0 20px 0;
	}
}