
/**

ooooooooooooo                     oooo                                          .o8  
8'   888   `8                     `888                                         "888  
     888       .ooooo.   .ooooo.   888   .oooo.o     .oooo.   ooo. .oo.    .oooo888  
     888      d88' `88b d88' `88b  888  d88(  "8    `P  )88b  `888P"Y88b  d88' `888  
     888      888   888 888   888  888  `"Y88b.      .oP"888   888   888  888   888  
     888      888   888 888   888  888  o.  )88b    d8(  888   888   888  888   888  
    o888o     `Y8bod8P' `Y8bod8P' o888o 8""888P'    `Y888""8o o888o o888o `Y8bod88P" 
                                                                                     
                                                                                     
                                                                                     
    .                                          oooo                .                      
  .o8                                          `888              .o8                      
.o888oo  .ooooo.  ooo. .oo.  .oo.   oo.ooooo.   888   .oooo.   .o888oo  .ooooo.   .oooo.o 
  888   d88' `88b `888P"Y88bP"Y88b   888' `88b  888  `P  )88b    888   d88' `88b d88(  "8 
  888   888ooo888  888   888   888   888   888  888   .oP"888    888   888ooo888 `"Y88b.  
  888 . 888    .o  888   888   888   888   888  888  d8(  888    888 . 888    .o o.  )88b 
  "888" `Y8bod8P' o888o o888o o888o  888bod8P' o888o `Y888""8o   "888" `Y8bod8P' 8""888P' 
                                     888                                                  
                                    o888o                                                 
                                                                               
**/

.page-banner{
	img{
		width:100%;
	}
}
.side-content{
	margin-top:20px;
	width:33%;
	float:right;
}
.page-content{
	width:66%;
	float:left;
}
.warning-sign{
	background: #FFFF66;
	padding: 10px;
	margin: 20px 0;
	h3{
		margin: 10px 0 20px 0;
		color:#000;
	}
}


/** Table Colors**/

#documentList_wrapper{
	&:before{
		content:"";
		width:100%;
		height:50px;
		background: #E2E2E2;
		position: absolute;
	}
}
#documentList_filter {
	label{
		font-size: 13px;
		color: #a2a2a2;
	}

	input{
		width: auto;
		background: white;
		margin: 10px;
		line-height: 25px;
		border: none;
		padding: 2px 13px;
		font-size: 13px;
		color: #777;
	}
}
#documentList_length{
	label{
		z-index: 10;
		position: relative;
		color: #9B9B9B;
		padding: 0;
		margin: 15px 10px 0;
		display: block;
	}
	
}
.dataTables_filter{
	position: relative;
}
#documentList{
	thead{
		background: #eee;
		border: none;
		background: #eee;
		border: none;
		line-height: 27px;
		th{
			border: none;
			font-size: 15px;
			font-weight: normal;
			line-height: 35px;
			color: #bbb;
			padding: 0 10px;
		}
	}	

	table.dataTable tr{
		background: none;
		border-bottom: 1px solid #eee;
	}
	table.dataTable {
		&:first-child{
			font-weight: bold;
			color: #858585;
			background: none !important;
		}
		td {
			padding: 10px;
		}
	}
	a.download{
		&:before{
			position:absolute;
			margin-left:-35px;
			width:27px;
			height:27px;
			background: url(https://rawgithub.com/carlosepp/CDP/master/img/word-icon.png);
		}
	}
	table.dataTable tr.odd { background-color: none; }
	table.dataTable tr.even { background-color: none; }

	table.dataTable tr.odd td.sorting_1 { background-color: none; }
	table.dataTable tr.odd td.sorting_2 { background-color: none; }
	table.dataTable tr.odd td.sorting_3 { background-color: none; }
	table.dataTable tr.even td.sorting_1 { background-color: none; }
	table.dataTable tr.even td.sorting_2 { background-color: none; }
	table.dataTable tr.even td.sorting_3 { background-color: none; }
}
