/* line 3, ../sass/cdp.scss */
.page-banner img {
  width: 100%;
}

/* line 7, ../sass/cdp.scss */
.side-content {
  margin-top: 20px;
  width: 33%;
  float: right;
}

/* line 12, ../sass/cdp.scss */
.page-content {
  width: 66%;
  float: left;
}

/* line 16, ../sass/cdp.scss */
.warning-sign {
  background: #FFFF66;
  padding: 10px;
  margin: 20px 0;
}
/* line 20, ../sass/cdp.scss */
.warning-sign h3 {
  margin: 10px 0 20px 0;
}
