/* line 3, ../sass/cdp.scss */
.page-banner img {
  width: 100%;
}

/* line 7, ../sass/cdp.scss */
.side-content {
  margin-top: 20px;
  width: 33%;
  float: right;
}

/* line 12, ../sass/cdp.scss */
.page-content {
  width: 66%;
  float: left;
}
