        <ul class="sections">
            <li class="active" id="Roles">
                <span>1.</span> Roles
            </li>
            <li id="Stages">
                <span>2.</span> Stages 
            </li>
            <li id="Activities">
                <span>3.</span> Activities for your level
            </li>
        </ul>
         
        <div class="flow" id="tab1">
            <h2>
                Select your role
            </h2>
            <ul class="roles">
                <li>                    
                    <button id="contract-leader" class="green">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-sales.png" alt="Sales Processor"/>
                        <span>
                            <strong>Sales Processors</strong>
                        </span>
                    </button>                  
                </li>
                
                <li>
                    <button id="contract-leader2" class="orange">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-global.png" alt="CDP Global"/>
                        <span>
                            <strong>CDP Global</strong>
                        </span>
                    </button>
                </li>
                <li>
                    <button id="records-lead" class="blue">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-sme.png" alt="CDP SME"/>
                        <span>
                            <strong>CDP SME</strong>                           
                        </span>
                    </button>
                </li>
                <li>
                    <button id="records-lead2" class="pink">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-team.png" alt="CDPS / Project Team"/>
                        <span>
                            <strong>CDPS / Project Team</strong>                           
                        </span>
                    </button>
                </li>
            </ul>
        </div>
  
               
        <div id="tab2">
            <div class="flow tab-1">
                <div class="breadcrumb">
                    Sales Processor
                </div>
                <h2>
                    Select the stage of interest for the <strong>Sales processor</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="ContractLeader-Start-Button">                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="ContractLeader-During-Button" class="disabled">                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="ContractLeader-Close-Button" class="disabled">
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
   
            </div>
 
            <div class="flow tab-2">
                <div class="breadcrumb">
                    CDP Global
                </div>
                <h2>
                    Select the stage of interest for the <strong>CDP Global</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="ContractLeader2-Start-Button" class="disabled">                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="ContractLeader2-During-Button">                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="ContractLeader2-Close-Button">
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
            </div>
   
            <div class="flow tab-3">
                <div class="breadcrumb">
                   Records Lead
                </div>
                <h2>
                    Select the stage of interest for the <strong>CDP SME</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="RecordsLead-Start-Button" class="disabled">                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="RecordsLead-During-Button">                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="RecordsLead-Close-Button" class="disabled">
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
            </div>
            <div class="flow tab-4">
                <div class="breadcrumb">
                   CDP / Project Team
                </div>
                <h2>
                    Select the stage of interest for the <strong>CDP SME</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="RecordsLead-Start2-Button" >                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="RecordsLead2-During-Button" class="disabled">                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="RecordsLead2-Close-Button" class="disabled">
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
            </div>
        
        </div>
                
        <div id="tab3">
            <div class="inner-tab-1">
                
                <div class="flow tab-1" id="sales-activities">
                    <div class="breadcrumb">
                       Sales Processor > Sales
                    </div>
                    <div class="activities">
                        <div class="block">
                            Complete Risk Assessment & Demographics tab
                        </div>
                        <div class="arrow-right"></div>
                        <div class="block">
                            Update DRS with Risk Score and Approval
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="inner-tab-2">
               
 
                <div class="flow tab-2">
                    <div class="breadcrumb">
                      CDP Global > Develop & Implement
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li>               
                                                         
                                <div class="block">
                                    Monitor CRM reports for newly won Work Orders
                                </div>
                            </li>
                            <li >               
                                                        
                                <div class="block">
                                    Evaluate Customer for existing Plan - Yes/No    
                                 </div>

                                 <div class="label">YES</div>
                                 <div class="arrow-right"></div>

                                 <div class="block diamond">Can plan be re-used?</div>
                                 <div class="label">YES</div>
                                 <div class="arrow-right"></div>

                                 <div class="block">Notify CDPS to apply existing plan to new WO</div>

                            </li>
                            
                            <li>                
                                                     
                                <span class="stage">
                                    Notify CFM to update any changes to the contract end date
                                </span>
                            </li>
                            <li class="one-half">                
                                                  
                                <span class="stage">
                                    CFM updates contract end date in SAP
                                </span>
                            </li>
                            
                            <li>
                                                    
                                <span class="stage">
                                    Work with Engagement Team as necessary to identify  &amp; submit Customer Records &amp; communications that fall under Policy 0123AVA
                                </span>
                            </li>
                            <li class="one-half">
                                <span class="number">
                                    11a
                                </span>                                          
                                <span class="stage">
                                   *Submit records in ARMS in accordance with the Policy 0123AVA <small>*In some region submission is carried out by Deal Desk/Contracts Desk</small>
                                </span>
                            </li>
   
                            <li class="one-half b">
                                <span class="number">
                                    11b
                                </span>                                          
                                <span class="stage">
                                   *Send hard copy to local ARIM Team <small>*In some region submission is carried out by Deal Desk/Contracts Desk</small>
                                </span>
                            </li>
         
                            <li>
                                <span class="number">
                                    12
                                </span>                                         
                                <span class="stage">
                                    Ensure ongoing compliance with Policy 0123AVA 
                                </span>
                            </li>
  
                            <li>
                                <span class="number">
                                    13
                                </span>                                         
                                <span class="stage">
                                    Resolve any Compliance violation
                                </span>
                            </li>
                                        
                        </ul>
                    </div>
                  
                </div>
 
                <div class="flow tab-3">
                    <div class="breadcrumb">
                      Contract Leader (retained Records Lead responsabilities) &gt; Contract Close
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li>               
                                <span class="number">
                                    14
                                </span>                            
                                <span class="stage">
                                    Validate all  customer records updated in ARMS
                                </span>
                            </li>
                            <li>                
                                <span class="number">
                                    15
                                </span>                        
                                <span class="stage">
                                   Contact the appropriate engagement team members to retrieve the missing Customer Records, if any
                                </span>   
                            </li>
                            <li class="diagram">                
                                <span class="number">
                                    16
                                </span>                        
                                <span class="stage">
                                  Is an exception applicable?
                                </span>  
                                <span class="answer-yes">
                                    Yes
                                </span>
                                <span class="answer-no">
                                    No
                                </span>
                            </li>
                            <li class="diagram-answer-no">                
                                <span class="number">
                                   16a
                                </span>                        
                                <span class="stage">
                                   Dispose Temporary documents at the end of the Contract &amp; make sure that all the Engagement Team Members are aware of this disposal requirement
                                </span>   
                            </li>
                            <li>                
                                <span class="number">
                                   16b
                                </span>                        
                                <span class="stage">
                                   All Engagement Team Members hold off disposal of temporary documents in case of any legal hold applied to the Customer Direct Agreement
                                </span> 
                            </li>
                            <li>                
                                <span class="number">
                                   17
                                </span>                        
                                <span class="stage">
                                  Use Review &amp; confirm function  in ARMS to validate and close Record Management activities for the engagement within 10 days of the contract end
                                </span> 
                            </li>
                    
                        </ul>
                    </div>
                    <div class="aside-links">
                        <h2>Useful links</h2>
                        <h3>Step 9</h3>
                        <ul>
                            <li><a href="https://arms.avanade.com/">ARMS</a></li>
                        </ul>
                        <h3> Step 10</h3>
                        <ul>
                            <li><a href="/sites/CustomerRecordsManagement/Pages/Record-Classifications.aspx">What to save</a></li>
                       
                        </ul>
                        <h3> Step 11</h3>
                        <ul>
                            <li><a href="/sites/CustomerRecordsManagement/Pages/Exceptions.aspx">Exceptions page</a></li>
                       
                        </ul>
                        <h3> Step 12a</h3>
                        <ul>
                            <li><a href="#">Temporary Documents</a>
                                <p>
                                    “Temporary Documents” refers to any Document created by or in the possession of the Company that relates to a engagements delivered to Customers in connection with Direct Agreements that is not considered a Business Record.
                                </p>
                            </li>
                       
                        </ul>
                        <h3> Step 13</h3>
                        <ul>
                            <li><a href="/sites/CustomerRecordsManagement/RM%20Documents/Avanade%20ARMS%20quick%20reference%20guide.pptx">ARMS job aid</a></li>
                       
                        </ul>
                    </div>
                </div>
            </div>
            
            
            <div class="inner-tab-3">
                <div class="flow tab-1">
                    <div class="breadcrumb">
                       Records Lead &gt; Contract Start
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li>               
                                <span class="number">
                                    1
                                </span>                            
                                <span class="stage">
                                    Records Lead (RL) notified
                                </span>
                            </li>
                            <li>                
                                <span class="number">
                                    2
                                </span>                        
                                <span class="stage">
                                    RL reviews Policy &amp; Procedure 0123AVA
                                </span>
                            </li>
                            <li>
                                <span class="number">
                                    3
                                </span>                         
                                <span class="stage">
                                   Complete Records Management Training 
                                </span>
                            </li>
                            <li>
                                <span class="number">
                                    4
                                </span>                                          
                                <span class="stage">
                                    Learn how to submit records in ARMS
                                </span>
                            </li>
         
                            <li>
                                <span class="number">
                                    5
                                </span>                                         
                                <span class="stage">
                                    *Coordinate submission of signed contract  in ARMS within 30 days of contract start <small>*In some region submission is carried out by Deal Desk/Contracts Desk</small>
                                </span>
                            </li>
                    
                            <li>
                                <span class="number">
                                    6
                                </span>                                           
                                <span class="stage">
                                    Work with the CL &amp; review Records Retention Schedule to identify all required Customer Records pertinent to the engagement
                                </span>
                            </li>
                            <li>
                                <span class="number">
                                    7
                                </span>                                          
                                <span class="stage">
                                   Communicate the requirements of Policy 0123AVA to impacted Engagement Team members including subcontractors
                                </span>
                            </li>
                    
                        </ul>
                    </div>
                    <div class="aside-links">
                            <h2>Useful links</h2>
                            <h3>Step 1</h3>
                            <ul>
                                <li><a href="/sites/CustomerRecordsManagement/Pages/Roles-Responsabilities.aspx?tab=2">RL responsabilities</a></li>
                            </ul>
                            <h3>Step 2</h3>
                            <ul>
                                <li><a href="/sites/CustomerRecordsManagement/RM%20Documents/Policy%200123AVA%2011-13%20final.docx">  Policy 0123AVA </a></li>
                                <li><a href="/sites/CustomerRecordsManagement/RM%20Documents/Procedure%200123%20100%20AVA%20Customer%20Records.doc">Procedure  0123AVA.100</a></li>
                            </ul>
                            <h3> Step 3</h3>
                            <ul>
                                <li><a href="/sites/CustomerRecordsManagement/Pages/TrainingResource.aspx">RM module for RL</a></li>
                            </ul>
                            <h3> Step 4</h3>
                            <ul>
                                <li><a href="/sites/CustomerRecordsManagement/RM%20Documents/Avanade%20ARMS%20quick%20reference%20guide.pptx">ARMS job aid</a></li>
                            </ul>
                            <h3> Step 6</h3>
                            <ul>
                                <li><a href="/sites/CustomerRecordsManagement/Pages/RM-Retention-Schedule.aspx"> Records Retention Schedule </a></li>
                                <li><a href="/sites/CustomerRecordsManagement/Pages/Record-Classifications.aspx"> What to Save</a></li>
                            </ul>
                            
                    </div>
                </div>
 
                <div class="flow tab-2">
                    <div class="breadcrumb">
                      Records Lead &gt; During Contract
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li>               
                                <span class="number">
                                    8
                                </span>                            
                                <span class="stage">
                                    Work with Engagement Team to identify  Customer Records &amp; communications that fall under Policy 0123AVA
                                </span>
                            </li>
                            <li>                
                                <span class="number">
                                    9
                                </span>                        
                                <span class="stage">
                                    Set up time with  CL to review Retention Schedule to identify all required  Customer Records pertinent to the engagement &amp; review ongoing compliance to Policy 0123AVA
                                </span>
                            </li>
                            <li class="one-half">
                               <span class="number">
                                    10a
                                </span>                         
                                <span class="stage">
                                   *Submit records in ARMS in accordance with the Policy 0123AVA <small>*In some region submission is carried out by Deal Desk/Contracts Desk</small>
                                </span>
                            </li>
   
                            <li>
                                <span class="number">
                                    11
                                </span>                                          
                                <span class="stage">
                                   Work with CL to recognize any amendments &amp; modifications &amp; upload them in ARMS
                                </span>
                            </li>
                            <li class="one-half">
                               <span class="number">
                                    11a
                                </span>                         
                                <span class="stage">
                                   *Upload signed amendments, etc. on ARMS <small>*In some region submission is carried out by Deal Desk/Contracts Desk</small>
                                </span>
                            </li>
                            <li class="one-half b">
                               <span class="number">
                                    11b
                                </span>                         
                                <span class="stage">
                                   *Send signed amendments, etc. hard copy to local ARIM Team <small>*In some region submission is carried out by Deal Desk/Contracts Desk</small>
                                </span>
                            </li>
                            
                            <li>
                                <span class="number">
                                    12
                                </span>                                         
                                <span class="stage">
                                    Notify CFM to update any changes to the contract end date &amp; in case the Contract Leader rolls off the project prior to engagement end
                                </span>
                            </li>
                            <li class="one-half">
                                <span class="number">
                                    12
                                </span>                                         
                                <span class="stage">
                                    CFM updates contract end date in SAP
                                </span>
                            </li>
                            
                                       
                        </ul>
                    </div>
                    <div class="aside-links">
                            <h2>Useful links</h2>
                            <h3>Step 9</h3>
                            <ul>
                                <li><a href="/sites/CustomerRecordsManagement/Pages/RM-Retention-Schedule.aspx">Records Retention Schedule</a></li>
                            </ul>
                            <h3> Step 10a </h3>
                            <ul>                                
                                <li><a href="/sites/CustomerRecordsManagement/RM%20Documents/Policy%200123AVA%2011-13%20final.docx">  Policy 0123AVA </a></li>
                      
                            </ul>
                            <h3> Step 11 </h3>
                            <ul>
                                <li><a href="https://arms.avanade.com/">ARMS</a></li>
                            </ul>
                   
                    </div>
                </div>
 
                <div class="flow tab-3">
                    <div class="breadcrumb">
                      Records Lead &gt; Contract Close
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li>               
                                <span class="number">
                                    13
                                </span>                            
                                <span class="stage">
                                    Ensure all records submitted in ARMS within 10 days of Contract end date. 
                                </span>
                            </li>
                            <li>                
                                <span class="number">
                                    14
                                </span>                        
                                <span class="stage">
                                   Contact the appropriate Engagement Team Members to retrieve any missing Customer Records
                                </span>   
                            </li>
                            <li class="diagram">                
                                <span class="number">
                                    15
                                </span>                        
                                <span class="stage">
                                  Is an exception applicable?
                                </span>  
                                <span class="answer-yes">
                                    Yes
                                </span>
                                <span class="answer-no">
                                    No
                                </span>
                            </li>
                            <li class="diagram-answer-no">                
                                <span class="number">
                                   16a
                                </span>                        
                                <span class="stage">
                                   Dispose Temporary documents at the end of the Contract &amp; make sure that all the Engagement Team Members are aware of this disposal requirement
                                </span>   
                            </li>
                            <li>                
                                <span class="number">
                                   16b
                                </span>                        
                                <span class="stage">
                                   All Engagement Team Members hold off disposal of temporary documents in case of any legal hold applied to the Customer Direct Agreement
                                </span>
                            </li>
                            <li>                
                                <span class="number">
                                   17
                                </span>                        
                                <span class="stage">
                                  Use Review &amp; confirm function in ARMS to validate and close Record Management activities for the engagement within 30 days of the contract end
                                </span> 
                            </li>
                    
                        </ul>
                    </div>
                    <div class="aside-links">
                        <h2>Useful links</h2>
                        <h3>Step 14</h3>
                        <ul>
                            <li><a href="/sites/CustomerRecordsManagement/Pages/Record-Classifications.aspx">What to Save</a></li>
                        </ul>
                        <h3> Step 15a</h3>
                        <ul>
                            <li><a href="/sites/CustomerRecordsManagement/Pages/Exceptions.aspx">Exceptions page</a></li>
                       
                        </ul>
                        <h3> Step 16</h3>
                        <ul>
                            <li>
                                <a href="#">What are temporary documents?</a>
                                <p>
                                    “Temporary Documents” refers to any Document created by or in the possession of the Company that relates to a engagements delivered to Customers in connection with Direct Agreements that is not considered a Business Record.
                                </p>
                            </li>
                       
                        </ul>
                    
                    </div>
                </div>
            </div>
 
        </div>
      

        
        ​