    <div class="welcome-content">
       
        <a class="button red" href="#"><span class="icon pdf"></span>Download Process Flow in PDF</a>
    </div>
        <ul class="sections">
            <li class="active" id="Roles">
                <span>1.</span> Roles
            </li>
            <li id="Stages">
                <span>2.</span> Stages 
            </li>
            <li id="Activities">
                <span>3.</span> Activities for your level
            </li>
        </ul>
         
        <div class="flow" id="tab1">
            <h2>
                Select your role
            </h2>
            <ul class="roles">
                <li>                    
                    <button id="contract-leader" class="green">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-sales.png" alt="Sales Processor"/>
                        <span>
                            <strong>Sales Processors</strong>
                        </span>
                    </button>                  
                </li>
                
                <li>
                    <button id="contract-leader2" class="orange">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-global.png" alt="General Employee"/>
                        <span>
                            <strong>General Employee</strong>
                        </span>
                    </button>
                </li>
                <li>
                    <button id="records-lead" class="blue">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-sme.png" alt="CDP SME"/>
                        <span>
                            <strong>CDP SME</strong>                           
                        </span>
                    </button>
                </li>
                <li>
                    <button id="records-lead2" class="pink">
                        <img src="/organizations/CDPProgram/SiteAssets/img/flows-team.png" alt="CDPS / Project Team"/>
                        <span>
                            <strong>CDPS / Project Team</strong>                           
                        </span>
                    </button>
                </li>
            </ul>
        </div>
  
               
        <div id="tab2">
            <div class="flow tab-1">
                <div class="breadcrumb">
                    <span>Sales Processor</span>
                </div>
                <h2>
                    Select the stage of interest for the <strong>Sales processor</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="ContractLeader-Start-Button">                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="ContractLeader-During-Button" class="disabled">                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="ContractLeader-Close-Button" class="disabled">
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
   
            </div>
 
            <div class="flow tab-2">
                <div class="breadcrumb">
                    <span>General Employee</span>
                </div>
                <h2>
                    Select the stage of interest for the <strong>General Employee</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="ContractLeader2-Start-Button" class="disabled">                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="ContractLeader2-During-Button">                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="ContractLeader2-Close-Button">
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
            </div>
   
            <div class="flow tab-3">
                <div class="breadcrumb">
                   <span>CDP SME</span>
                </div>
                <h2>
                    Select the stage of interest for the <strong>CDP SME</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="RecordsLead-Start-Button" class="disabled">                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="RecordsLead-During-Button">                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="RecordsLead-Close-Button" class="disabled">
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
            </div>
            <div class="flow tab-4">
                <div class="breadcrumb">
                   <span>CDPS / Project Team</span>
                </div>
                <h2>
                    Select the stage of interest for the <strong>CDPS / Project Team</strong> role
                </h2>
                <div class="stage-of-interest">
                    <button id="RecordsLead-Start2-Button" class="disabled">                    
                        <span class="number"> 1 </span> 
                        <span class="stage">Sales</span>
                    </button>
                    <i></i>             
                    <button id="RecordsLead2-During-Button" >                 
                        <span class="number"> 2 </span> 
                        <span class="stage">Develop & Implement</span>
                    </button>
                    <i></i>
                    <button id="RecordsLead2-Close-Button" >
                        <span class="number"> 3 </span> 
                        <span class="stage">Operate / Mantain / Close Plan</span>
                    </button>
                </div>
            </div>
        
        </div>
                
        <div id="tab3">
            <div class="inner-tab-1">
                
                <div class="flow tab-1" id="sales-activities">
                    <div class="breadcrumb">
                       <span>Sales Processor</span> > <span>Sales</span>
                    </div>
                    <div class="activities">
                        <div class="block">
                            Complete Risk Assessment & Demographics tab
                        </div>
                        <div class="arrow-right"></div>
                        <div class="block">
                            Update DRS with Risk Score and Approval
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="inner-tab-2">
               
 
                <div class="flow tab-2">
                    <div class="breadcrumb">
                      <span>General Employee</span> > <span>Develop & Implement</span>
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li>               
                                                         
                                <div class="block">
                                    Monitor CRM reports for newly won Work Orders
                                </div>
                            </li>
                            <li class="no-arrow-down">               
                                                        
                                <div class="block">
                                    Upload copy of RA tool from DRS (Create CDP Plan site with Templates if necessary)    
                                 </div>

                                 <div class="label">Yes</div>
                                 <div class="arrow-right"></div>

                                 <div class="block diamond">Can plan be re-used?</div>
                                 <div class="label">Yes</div>
                                 <div class="arrow-right"></div>

                                 <div class="block">Send Kickoff email to CDPS/E and Assigned SME</div>

                            </li>
                            <li class="labels">
                                <div class="no">No</div>
                                <div class="no">No</div>
                                <div class="arrow-down"></div>
                            </li>
                            <li>                
                                                     
                                <div class="block">
                                    Create WO record and assign local CDP SME
                                </div>
                                <div class="arrow left"></div>
                                <div class="block">
                                    Determine if rework existing plan or new plan is required
                                </div>
                                <div class="block wo-record">
                                    Create WO record 
                                </div>
                                <div class="stop">Stop</div>
                            </li>
                            
                            <li>               
                                                         
                                <div class="block">
                                    Determine Plan routing (local, ACN, Global)
                                </div>
                            </li>
                            <li >               
                                                        
                                <div class="block">
                                    Evaluate Customer for existing Plan - Yes/No    
                                 </div>

                                 <div class="arrow-right"></div>

                                 <div class="block">Notify CDPS to apply existing plan to new WO</div>

                            </li>
                                        
                        </ul>
                    </div>
                  
                </div>
 
                <div class="flow tab-3">
                    <div class="breadcrumb">
                      <span>General Employee</span> > <span>Operate/Mantain/Close Plan</span>
                    </div>
                    <div class="activities-for-level">
                      <div class="block center">
                          6 Month Assessment (as required)
                      </div>
                    </div>
                </div>
            </div>
            
            
            <div class="inner-tab-3">
                
 
                <div class="flow tab-2">
                    <div class="breadcrumb">
                      <span>CDP SME</span> &gt; <span>Develop & Implement</span>
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li>               
                                                         
                                <div class="block blue">
                                   General Employee Develop & Implement
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    Schedule Kickoff Meeting
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    Lead Kickoff Meeting
                                </div>
                                <div class="block multi-arrow blue">
                                    CDPS/Project Team Develop & Implement
                                </div>
                            </li>
                            <li>
                                <div class="block">
                                    Schedule Weekly check-in Meetings
                                </div>
                            </li>
                            <li>
                                <div class="block">Reviews plan drafts, provide direction, examples, etc.</div>
                            </li>
                            <li>
                                <div class="block">Track progress and escalate as appropiate</div>
                            </li>
                          
                                        
                        </ul>
                        <ul class="list inverted">
                            <li><div class="stop">Stop</div></li>
                            <li>
                                <div class="block">Mark record as complete w/approval date</div>
                            </li>
                            <li>
                                <div class="block">Obtain CDP Program Lead Approval</div>
                            </li>
                     
                        </ul>
                    </div>
                   
                </div>
 
            </div>
            <div class="inner-tab-4">
                
                <div class="flow tab-2">
                    <div class="breadcrumb">
                      <span>CDPS / Project Team</span> > <span>Develop & Implement</span>
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li class="three-arrows">               
                                                         
                                <div class="block blue extended">
                                    General Employee Develop & Implement
                                </div>
                            </li>
                            <li class="float-right-arrow">               
                                                        
                                <div class="block">
                                   Review CDP Plan tool and mark N/A on appropiate Controls  
                                 </div>


                                 <div class="arrow-right"></div>

                                 <div class="block">Attend Kickoff Meeting</div>
                                 <div class="arrow-right"></div>

                                 <div class="block">Complete and Implement Plan</div>

                            </li>
                            <li class="float-right">                
                                                     
                                <div class="block">
                                    Obtain CDPE Approval
                                </div>
                             
                            </li>
                                        
                        </ul>
                    </div>
                  
                </div>
 
                <div class="flow tab-3">
                    <div class="breadcrumb">
                      <span>CDPS / Project Team</span> > <span>Operate/Mantain/Close Plan</span>
                    </div>
                    <div class="activities-for-level">
                        <ul class="list">
                            <li class="blue-arrow">               
                                                         
                                <div class="block blue">
                                    General Employee Develop & Implement
                                </div>
                            </li>
                            <li >               
                                                        
                                <div class="block">
                                   Operate Plan
                                 </div>


                                 <div class="arrow-right"></div>

                                 <div class="block">Close Plan for engagement</div>
                              
                            </li>                                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      

        
        ​