<p>​This page hosts some of the security software recommended for CDP Compliance.</p>
<div class="list three-col">
	<table>
		<tr class="item">
			<td class="picture">
				<img src="https://at.avanade.com/organizations/CDPProgram/SiteAssets/img/security-1.png" alt="">
			</td>
			<td class="description">
				<h3>CCleaner</h3>
				CCleaner is the number-one tool for cleaning your Windows PC. It protects your privacy online and makes your computer faster and more secure. Ideal for securely deleting browser history.
			</td>
			<td class="download-link">
				<a href="#">Download</a>
			</td>
		</tr>
		<tr class="item">
			<td class="picture">
				<img src="https://at.avanade.com/organizations/CDPProgram/SiteAssets/img/security-1.png" alt="">
			</td>
			<td class="description">
				<h3>CCleaner</h3>
				CCleaner is the number-one tool for cleaning your Windows PC. It protects your privacy online and makes your computer faster and more secure. Ideal for securely deleting browser history.
			</td>
			<td class="download-link">
				<a href="#">Download</a>
			</td>
		</tr>
		<tr class="item">
			<td class="picture">
				<img src="https://at.avanade.com/organizations/CDPProgram/SiteAssets/img/security-2.png" alt="">
			</td>
			<td class="description">
				<h3>MyScan</h3>
				The Accenture tool to scan your hard drive for customer data. (Then use Eraser to securely remove the files.) Note, Windows 8 users may get a ‘Windows protected your PC’ screen. Click Run Anyway, then on the following User Account Control prompt (asking if they should trust and run setup.exe) click Yes.
			</td>
			<td class="download-link">
				<a href="#">Download</a>
			</td>
		</tr>
	</table>
</div>